@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap'); 

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;      

}

.banner {
  background-color: #F2F4F1; 
  overflow: hidden;
}

/* HEADER */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #809076;
  padding: 15px 60px;
  height: 80px;
}

.logo img {
  height: 100px;
  display: block;
}

.menu {
  display: flex;
  gap: 35px; 
}

.menu a {
  text-decoration: none;
  color: #284139;     
  font-size: 18px;
  transition: color 0.3s ease;
  font-weight: 700;
}

.menu a:hover {
  color: #3F5A2A;  
  text-decoration: underline;       
}

/* HERO */

/* HERO SECTION */
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 100px 80px;
  background-color: #f4f6f2;
  position: relative;
  overflow: hidden;
}

/* TEXTO À ESQUERDA */
.hero-text {
  max-width: 600px;
  z-index: 2;
}

.titulo-hero {
  font-size: 64px;
  font-weight: 800;
  line-height: 1.2;
  color: #284139;
  margin-bottom: 20px;
}

.hero p {
  font-size: 20px;
  color: #2c4037;
  margin-bottom: 30px;
  line-height: 1.6;
}

/* BOTÃO */
.main-button {
  display: inline-block;
  background-color: #7d8c73;
  color: #fff;
  padding: 14px 40px;
  border-radius: 10px;
  font-weight: 700;
  text-decoration: none;
  font-size: 20px;
  transition: all 0.3s ease;
}

.main-button:hover {
  background-color: #6e7f64;
  transform: translateY(-2px);
}

/* IMAGEM À DIREITA */
.hero-image {
  position: relative;
  z-index: 2;
}

.hero-image img {
  width: 480px;
  border-radius: 50%;
  display: block;
}

/* BODY */

.tela-inicial{
  background-color: #F2F4F1; 
}

.titulo-categoria{
 display: flex;
 align-items: center;
 justify-content: center;
 color: #ffffff;
 background-color: #111A19;
 margin: auto;
 border-bottom-left-radius: 5px;
 border-bottom-right-radius: 5px;
 max-width: 10%;
 font-size: 1.3rem;

}

    /*CARDS*/

.card-container{
  display: flex;             
  justify-content: center;   
  flex-wrap: wrap;           
  gap: 25px;           
  width: 100%;
  margin: 20px 0;      
}

.card{
  width: 250px;
  height: 290px;
  background: #fff;
  border-top-right-radius: 10px;
  box-shadow: 0 2px 8px rgba(11, 11, 11, 0.1);
  overflow: hidden;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin-top: 10%;
  margin-bottom: 2%;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

.card-link{
  text-decoration: none;
  color: inherit;
  display: block;
  cursor: pointer;
}

.card img{
 width: 100%;
 height: 180px;
 object-fit: cover;
}

.card h3{
  font-size: 1rem;
  color: #08100e;
  padding: 10px;
}

/* Paginação do Carrossel (Pontos) */
.carousel-pagination {
    display: flex;
    justify-content: center; 
    margin-top: 2px;
    margin-bottom: 50px;
    gap: 10px; 
}

.carousel-pagination .dot {
    width: 12px;
    height: 12px;
    border-radius: 50%; 
    background-color: #b5b9b6; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
}

.carousel-pagination .dot.active {
    background-color: #cfecc4; 
    
}