@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap'); 

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;      

}

.banner {
  background-color: #F2F4F1; 
  overflow: hidden;
}

/* HEADER */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #809076;
  padding: 15px 60px;
  height: 80px;
}

.logo img {
  height: 100px;
  display: block;
}

.menu {
  display: flex;
  gap: 35px; 
}

.menu a {
  text-decoration: none;
  color: #284139;     
  font-size: 18px;
  transition: color 0.3s ease;
  font-weight: 700;
}

.menu a:hover {
  color: #3F5A2A;  
  text-decoration: underline;       
}

/* HERO */

/* HERO SECTION */
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 100px 80px;
  background-color: #f4f6f2;
  position: relative;
  overflow: hidden;
}

/* TEXTO À ESQUERDA */
.hero-text {
  max-width: 600px;
  z-index: 2;
}

.titulo-hero {
  font-size: 64px;
  font-weight: 800;
  line-height: 1.2;
  color: #284139;
  margin-bottom: 20px;
}

.hero p {
  font-size: 20px;
  color: #2c4037;
  margin-bottom: 30px;
  line-height: 1.6;
}

/* BOTÃO */
.main-button {
  display: inline-block;
  background-color: #7d8c73;
  color: #fff;
  padding: 14px 40px;
  border-radius: 10px;
  font-weight: 700;
  text-decoration: none;
  font-size: 20px;
  transition: all 0.3s ease;
}

.main-button:hover {
  background-color: #6e7f64;
  transform: translateY(-2px);
}

/* IMAGEM À DIREITA */
.hero-image {
  position: relative;
  z-index: 2;
}

.hero-image img {
  width: 480px;
  border-radius: 50%;
  display: block;
}
